body{
    background-color: #f1d2fa;
}

header{
    text-align: center;
    background-color: #6c34a3;
}

a:link, a:visited{
    color: rgb(255, 90, 0);
    font-weight: bold;
    text-decoration: none;
}

a:hover, a:active{
    color: rgb(255, 0, 170);
    text-decoration: underline;
}

footer{
    background-color: #6c34a3;
    display: block;
    text-align: center;
    position: sticky;
    bottom: 15px;
}

iframe{
    display: block;
    width: 100vw;
    height: 100vh;
}