body{
    background-color: #f1d2fa;
}

header{
    text-align: center;
    background-color: #6c34a3;
}

a:link, a:visited{
    color: #00fa21;
    font-weight: bold;
    text-decoration: none;
}

a:hover, a:active{
    color: red;
    text-decoration: underline;
}

footer{
    background-color: #6c34a3;
    text-align: center;
}

iframe{
    display: block;
    width: 100vw;
    height: 100vh;
}