*{
    text-align: center;
}

h3{
    background-color: lightblue;
}

form{
    background-color: #d0e5f7;
}

textarea{
    resize: none;
}

#in_nome, #in_email, #in_mensagem{
    text-align: left;
}

#bt_enviar{
    border:none;
    background-color: #f0ee7f;
    padding: 8px 16px;
    cursor:pointer;
}