header{
    text-align: center;
    background-color: #ffe591;
}

a:link, a:visited{
    color:blue;
    text-decoration: none;
}

a:hover, a:active{
    color: red;
    text-decoration: underline;
}

footer{
    background-color: #d6d1c1;
    text-align: center;
}

iframe{
    display: block;
    width: 100vw;
    height: 100vh;
}