h3{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

figcaption, #image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h3{
    background-color: lightblue;
}

p{
    text-align: justify;
}